@page
@model MoshtariYarUI.Areas.Customer.Pages.TicketDetailsModel
@{
}

<div class="my-5  container">
    <h2>جزئیات برای تیکت شماره @Model.CurrentTicket.Id</h2>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">نام</th>
                <th scope="col">نام شعبه</th>
                <th scope="col">توضیحات</th>
                <th scope="col">تاریخ ثبت</th>
                <th scope="col">نوشته شده توسط:</th>
                <th scope="col">اولویت</th>
                <th scope="col">پاسخ ثبت شده</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">@Model.CurrentTicket.Id</th>
                <td>@Model.CurrentTicket.Title</td>
                <td>@Model.CurrentTicket.DepartmentName</td>
                <td>@Model.CurrentTicket.Description</td>
                <td>@Model.CurrentTicket.SubmittedAt</td>
                <td>@Model.CurrentTicket.SubmittedBy</td>
                <td>@Model.CurrentTicket.Priority</td>
                <td>@Model.CurrentTicket.TicketResponse</td>
            </tr>
        </tbody>
    </table>
</div>